body {
	// 整站背景色
	--ui-background: #fff;
	// 舞台色
	--ui-screen-bg: #f6f7fb;

	--ui-primary: rgb(var(--primary-6));
}

body[theme='dark'] {
	// 整站背景色
	--ui-background: #1a1a1a;
	// 舞台色
	--ui-screen-bg: #2a2a2b;
}
